
*{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
header{
    background-color: rgb(0, 145, 255);
    min-height: 90px;
    justify-content: space-between;
    display: flex;
}

.menu-icono {
    width: 100px;
    height: 90px;
    margin: 20PX;
}
article{
    padding: 12px;
    margin: 12px;
}

h2{
    text-align: center;

}

.general {
    display: flex;
}

.general-1 {
    width: 38.5%;
    padding: 80px 50px 100px 100px;
    background-color: #E1E2E6;
   
}

.general-2 {
    background-image: url(imagenes/quees11.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-3 {
    background-image: url(imagenes/memoria.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-4 {
    width: 38.5%;
    padding: 80px 50px 100px 100px;
    background-color: #E1E2E6;
   
}

.general-5 {
    background-image: url(imagenes/memoria3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-6 {
    background-image: url(imagenes/tratamiento.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.pie{
    background-color: rgb(0, 145, 255);
    min-height: 100px;
    justify-content: space-between;
    display: flex;

}


    
