*{
    margin: 0;
}
.titulo{
    display: flex;
}
div{
    width: 20%;
    background-color: rgb(14, 54, 229);
}
.nombre
{
    padding:10px;
    width: 80%;
    text-align: center;
    background-color: rgb(14, 54, 229);
    color: white;
   
}
.cuerpo{
    display: flex;
    flex-direction: row;
    /* flex-wrap:wrap; */
    justify-content:space-around;
    border: 3px solid green;
}

.descripcion
{
    font-size: 20px;
    border: 1px solid violet;
    align-items: baseline;
}
img{
    width: 100px;
}
.subtitulo
{
    text-align: center;
    font-size: 30px;
}
footer
{
    background-color: rgb(14, 54, 229);
}

